body{
    background-color: cyan;
}

.title{
    background-color:brown ;
    width: 230px;
    margin-left:600px;
}
.tit{
    padding-left:50px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    width:30%;
    padding-left:500px ;
}

.flex-container{
    display:flex;
    background-color:yellow;  
}

.flex-container > div{
    background-color: aliceblue;
    margin:10px;
    padding:30px;
}

.todo{
    flex:2;
}